INCLUDE: $GC_HOME/contrib/MITRE/templates/pm_settings.config
EXPAND: $MIDIKI_ROOT c:/cvsroot/midiki/src/java
EXPAND: $UNIT_TEST $GC_HOME/contrib/MITRE/tools/src/unit_test
EXPAND: $PROCESS_MONITOR $GC_HOME/contrib/MITRE/tools/src/process_monitor
SUPPRESS_EXPANSIONS:

COMPRESSED:
NUM_DIVISIONS: 3

TITLE: IO podium monitor, midiki test
PROCESS: $PYTHONBIN $GC_HOME/OSTK-20030924/gui_io/io_podium/python/src/io_podium.py
PROCESS_TITLE: IO Podium
PROCESS_MONITOR_ARGS: --open
PROCESS: java -classpath $MIDIKI_ROOT;$GC_HOME/contrib/MITRE/bindings/java/lib/galaxy.jar org.mitre.dm.qud.domain.diagnosis.gal_diagnosis_dm
PROCESS_TITLE: TestExecutive
PROCESS_MONITOR_ARGS: --open
PROCESS: $GC_HOME/$BINDIR/hub -pgm_file $MIDIKI_ROOT/org/mitre/midiki/impl/mitre/galaxy/io-podium.pgm -suppress_pacifier
PROCESS_TITLE: Hub
PROCESS_MONITOR_ARGS: --open --input_return
